<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="center">
        <span class="index-title"><%= t '.title' %></span>
      </h1>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <br>

  <div class="row">
    <div class="col-sm-7">


      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag("00.png") %>
            <div class="carousel-caption">
              <h3><strong><%= t("static_pages.home.title") %></strong></h3>
              <h4><%= t("static_pages.home.title_sub") %></h4>
            </div>
          </div>
          <div class="item">
            <%= image_tag("01.png") %>
            <div class="carousel-caption">
              <%= link_to static_pages_introduction_path do %>
                <span class="btn btn-primary"><%= t("static_pages.introduction.navbar") %></span>
              <% end %>
              <h4><%= t("static_pages.introduction.title") %></h4>
            </div>
          </div>
          <div class="item">
            <%= image_tag("02.png") %>
            <div class="carousel-caption">
              <%= link_to static_pages_job_1_path do %>
                <span class="btn btn-primary"><%= t("static_pages.jobs.carousel.navbar") %></span>
              <% end %>
              <h4><%= t("static_pages.jobs.carousel.title") %></h4>
            </div>
          </div>
          <div class="item">
            <%= image_tag("03.jpg") %>
            <div class="carousel-caption">
              <%= link_to new_survey_path do %>
                <span class="btn btn-primary"><%= t("surveys.carousel.navbar") %></span>
              <% end %>
              <h4><%= t("surveys.carousel.title") %></h4>
            </div>
          </div>
          <div class="item">
            <%= image_tag("04.png") %>
            <div class="carousel-caption">
              <%= link_to expositions_path do %>
                <span class="btn btn-primary"><%= t("expositions.carousel.navbar") %></span>
              <% end %>
              <h4><%= t("expositions.carousel.title") %></h4>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="icon-prev" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="icon-next" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div> <!--/col-sm-7 -->

    <div class="col-sm-5">
      <div class="row">
        <div class="col-sm-12">
          <%= render 'info', cached: true %>
        </div> <!-- /.col-sm-12 -->
      </div> <!-- / class="row" -->    
    </div> <!-- /.col-sm-5 -->

  </div> <!--/row -->
 
</div> <!--/container -->

