<style type="text/css">  
  th {
    background-color: #BECC25 !important;
  }
</style>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="center">
        <span class="index-title"><%= t '.title' %></span>
      </h1>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <br>

  <div class="row">
    <div class="col-sm-12">
      <p class="text-justify">
        W związku z dynamicznie rozwijającymi się technologami w zakresie emisji radiowych, rozwojem technik pomiarowych widma częstotliwości oraz okresową wymianą aparatury kontrolno-pomiarowej jaka dokonuje się w UKE, zachodzi konieczność ciągłego podnoszenia kwalifikacji i budowania kompetencji pracowników UKE wchodzących w skład zespołów kontrolnych obsługujących Ruchome Stacje Pomiarowe. Z uwagi na lawinowo rosnące statystyki zgłoszeń zakłóceń radioelektrycznych oraz kłopotliwość ich eliminowania, przewodnim tematem warsztatów będą właśnie  teoretyczne i praktyczne aspekty eliminacji zakłóceń radioelektrycznych. Uczestnicy szkolenia zapoznają się m.in. z zasadami planowania i użytkowania widma częstotliwości na obszarach transgranicznych z przykładem realizacji porozumienia POL-BLR, po to aby w części praktycznej zrealizować ćwiczenie polegające na lokalizowaniu źródeł zakłóceń pochodzących z zagranicy.
      </p> 
      <p class="text-justify">
        Ponadto w części teoretycznej zostaną  uczestnikom zaprezentowane użyteczne funkcjonalności takich przyrządów pomiarowych jak PR100 czy ETL, natomiast w części praktycznej wszystkie zespoły kontrolne przeprowadzą pomiary wybranych parametrów emisji poszczególnych służb radiokomunikacyjnych zgodnie z wytycznymi zawartymi w skrypcie wydanym przez Urząd Komunikacji Elektronicznej pt. „Instrukcje pomiarowe”.
      </p>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->


  <div class="row">
    <div class="col-sm-12">
      <h3 class="center">
        <span class="index-title"><%= t '.schedule' %></span>
      </h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <br>

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered compact" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class='col-sm-1'>Data</th>
            <th class='col-sm-1'>Godzina</th>
            <th class='col-sm-4'>Temat</th>
            <th class='col-sm-3'>Akcesoria</th>
            <th class='col-sm-3'>Niezbędne przygotowania</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2019-05-22</td>
            <td>19:00</td>
            <td>Kolacja</td>
            <td></td>
            <td></td>
          <tr>
          <tr>
            <td>2019-05-23</td>
            <td>7:30 - 8:30</td>
            <td>Śniadanie</td>
            <td></td>
            <td></td>
          <tr>
          <tr>
            <td>2019-05-23</td>
            <td>8:30 - 9:00</td>
            <td>Odprawa przed zadaniami</td>
            <td></td>
            <td></td>
          <tr>
          <tr>
            <td>2019-05-23</td>
            <td>9:00 - 13:00</td>
            <td>Ćwiczenie poligonowe Nr. 3 - Utrwalnie umiejętności pomiarowych zgodnie z zasadami  opisanymi w instrukcjach pomiarowych</td>
            <td>Wszystkie RSP, namiernik, odbiornik lub analizator, laptop</td>
            <td>Opracowanie scenariusza - Janusz Masłowski</td>
          <tr>
          <tr>
            <td>2019-05-23</td>
            <td>13:00 - 14:00</td>
            <td>Obiad "poligonowy"</td>
            <td>Stoły, krzesła, woda do umycia rąk, toaleta (toy-toy)</td>
            <td>Ustalenie miejsca, menu i uzgodnienie z dostawcą kateringu.</td>
          <tr>
          <tr>
            <td>2019-05-23</td>
            <td>14:00 - 17:30</td>
            <td>Ćwiczenie poligonowe Nr 4 - diagnostyczny pomiar E oraz dokładności namierznia, awaryjne chowanie masztu</td>
            <td>Wszystkie RSP, namiernik, odbiornik lub analizator, laptop</td>
            <td>Wszystkie ćwiczenia wykonywane jednocześnie w szyku poligonowym (rezygnacja z pojedynczego stanowiska). Scenariusz - Marcin Woźniak</td>
          <tr>
          <tr>
            <td>2019-05-23</td>
            <td>19:00</td>
            <td>Kolacja</td>
            <td></td>
            <td></td>
          <tr>
          <tr>
            <td>2019-05-24</td>
            <td>7:30 - 8:30</td>
            <td>Śniadanie</td>
            <td></td>
            <td></td>
          <tr>
          <tr>
            <td>2019-05-24</td>
            <td>9:00</td>
            <td>Wyjazd ekip</td>
            <td></td>
            <td></td>
          <tr>
        </tbody>

      </table>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->
  <br>

  <div class="row">
    <div class="col-sm-12">
      <h3 class="center">
        <span class="index-title"><%= t '.place' %></span>
      </h3>
    </div> <!--/col-sm-12 -->

    <br>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-2">
          <%= image_tag('marker.png', size: "48x48") %>
        </div> <!--/col-sm-3 -->
        <div class="col-sm-10">
          <p>Miejsce szkolenia:</p>
          <p>Hotel KNIEJA - Centrum Konferencyjne</p>
          <%= link_to "Nawigacja", "https://www.google.pl/maps/place/Knieja.+Centrum+konferencyjno+-+bankietowe/@53.2022521,23.3342796,17z/data=!3m1!4b1!4m5!3m4!1s0x46e00046d2a0bfbb:0xba42c12ba48295b2!8m2!3d53.2022521!4d23.3364683?hl=pl", :target => "_blank" %>
          <br>
          <br>
        </div> <!--/col-sm-9 -->
      </div> <!--/row -->
    </div> <!--/col-sm-12 -->

    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-2">
          <%= image_tag('marker2.png', size: "48x48") %>
        </div> <!--/col-sm-3 -->
        <div class="col-sm-10">
          <p>Miejsce zbiórki (zadania 1 i 2):</p>
          <p>Zajazd SOKOŁDA</p>
          <%= link_to "Nawigacja", "https://www.google.pl/maps/place/53%C2%B014'52.7%22N+23%C2%B028'09.0%22E/@53.247973,23.466958,17z/data=!3m1!4b1!4m13!1m6!3m5!1s0x46dffddc6189b29f:0x5d2d0b1c8862adbd!2sZajazd+Soko%C5%82da!8m2!3d53.24796!4d23.469157!3m5!1s0x0:0x0!7e2!8m2!3d53.2479728!4d23.4691516?hl=pl", :target => "_blank" %>
          <br>
          <br>
        </div> <!--/col-sm-9 -->
      </div> <!--/row -->
    </div> <!--/col-sm-12 -->

    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-2">
          <%= image_tag('marker3.png', size: "48x48") %>
        </div> <!--/col-sm-3 -->
        <div class="col-sm-10">
          <p>Poligon pomiarowy (zadania 3 i 4):</p>
          <p>Folwark NADAWKI</p>
          <%= link_to "Nawigacja", "https://www.google.pl/maps/place/Folwark+Nadawki/@53.1822042,23.150403,17z/data=!3m1!4b1!4m5!3m4!1s0x471ffda433e20ad3:0x72dac635d76923eb!8m2!3d53.182201!4d23.152597?hl=pl", :target => "_blank" %>
          <br>
          <br>
        </div> <!--/col-sm-9 -->
      </div> <!--/row -->
    </div> <!--/col-sm-12 -->

  </div> <!--/row -->

  <br>
  <div id="idMap" style="width: 100%; height: 75vh;"></div>
  <br>

</div> <!--/container -->

 
<script src="https://www.openlayers.org/api/OpenLayers.js"></script>

<script>
  //var lat            = <%#= partial_data.lat %>;
  //var lon            = <%#= partial_data.lng %>;
  var lat            = 53.202200;
  var lon            = 23.336400;

  var lat2           = 53.247973;
  var lon2           = 23.469152;

  var lat3           = 53.182220;
  var lon3           = 23.152613;


  var zoom           = 10;
  var size = new OpenLayers.Size(36,36);
  var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
  var icon = new OpenLayers.Icon("<%= asset_path('marker.png', locale: locale) %>", size, offset);
  var icon2 = new OpenLayers.Icon("<%= asset_path('marker2.png', locale: locale) %>", size, offset);
  var icon3 = new OpenLayers.Icon("<%= asset_path('marker3.png', locale: locale) %>", size, offset);


  var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
  var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
  var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);
  var position2      = new OpenLayers.LonLat(lon2, lat2).transform( fromProjection, toProjection);
  var position3      = new OpenLayers.LonLat(lon3, lat3).transform( fromProjection, toProjection);


  map = new OpenLayers.Map("idMap");

  var mapnik         = new OpenLayers.Layer.OSM();
  map.addLayer(mapnik);

  var markers = new OpenLayers.Layer.Markers( "Markers" );

  map.addLayer(markers);
  markers.addMarker(new OpenLayers.Marker(position, icon));
  markers.addMarker(new OpenLayers.Marker(position2, icon2));
  markers.addMarker(new OpenLayers.Marker(position3, icon3));

  map.setCenter(position, zoom);
</script>

