<style type="text/css">  
  th {
    background-color: #BECC25 !important;
  }
</style>


<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h1 class="center">
        <span class="index-title"><%= t '.title' %></span>
      </h1>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <br>

  <div class="row">
    <div class="col-sm-12">
      <p class="text-justify">
        W związku z dynamicznie rozwijającymi się technologami w zakresie emisji radiowych, rozwojem technik pomiarowych widma częstotliwości oraz okresową wymianą aparatury kontrolno-pomiarowej jaka dokonuje się w UKE, zachodzi konieczność ciągłego podnoszenia kwalifikacji i budowania kompetencji pracowników UKE wchodzących w skład zespołów kontrolnych obsługujących Ruchome Stacje Pomiarowe. Z uwagi na lawinowo rosnące statystyki zgłoszeń zakłóceń radioelektrycznych oraz kłopotliwość ich eliminowania, przewodnim tematem warsztatów będą właśnie  teoretyczne i praktyczne aspekty eliminacji zakłóceń radioelektrycznych. Uczestnicy szkolenia zapoznają się m.in. z zasadami planowania i użytkowania widma częstotliwości na obszarach transgranicznych z przykładem realizacji porozumienia POL-BLR, po to aby w części praktycznej zrealizować ćwiczenie polegające na lokalizowaniu źródeł zakłóceń pochodzących z zagranicy.
      </p> 
      <p class="text-justify">
        Ponadto w części teoretycznej zostaną  uczestnikom zaprezentowane użyteczne funkcjonalności takich przyrządów pomiarowych jak PR100 czy ETL, natomiast w części praktycznej wszystkie zespoły kontrolne przeprowadzą pomiary wybranych parametrów emisji poszczególnych służb radiokomunikacyjnych zgodnie z wytycznymi zawartymi w skrypcie wydanym przez Urząd Komunikacji Elektronicznej pt. „Instrukcje pomiarowe”.
      </p>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->


  <div class="row">
    <div class="col-sm-12">
      <h3 class="center">
        <span class="index-title"><%= t '.schedule' %></span>
      </h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <br>

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered compact" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class='col-xs-2 col-sm-1'>Data</th>
            <th class='col-xs-2 col-sm-2'>Godzina</th>
            <th class='col-xs-5 col-sm-6'>Temat</th>
            <th class='col-xs-3 col-sm-3'>Uwagi</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Poniedziałek<br>2019-05-20</td>
            <td>Do 17:00</td>
            <td>Przyjazd na miejsce zakwaterowania</td>
            <td></td>
          <tr>
          <tr>
            <td></td>
            <td>17:00 - 18:00</td>
            <td>Zakwaterowanie w hotelu</td>
            <td></td>
          <tr>
          <tr>
            <td></td>
            <td>18:00 - 18:15</td>
            <td>Przywitanie uczestników, omówienie agendy, sprawy organizacyjne<br>- Marcin Woźniak</td>
            <td></td>
          <tr>
          <tr>
            <td></td>
            <td>19:00</td>
            <td>Kolacja (grill)</td>
            <td></td>
          <tr>

          <tr class="success">
            <td>Wtorek<br>2019-05-21</td>
            <td>7:30 - 8:30</td>
            <td>Śniadanie</td>
            <td></td>
          <tr>
          <tr class="success">
            <td></td>
            <td>8:30 - 11:00</td>
            <td>Prezentacja dot. gospodarki widmem w obszarach transgranicznych Cz. 1 i 2<br> - prelegent Grzegorz Lewandowski</td>
            <td>z 5 min przerwą</td>
          <tr>
          <tr class="success">
            <td></td>
            <td>11:00 - 11:15</td>
            <td>Przerwa kawowa</td>
            <td></td>
          <tr>
          <tr class="success">
            <td></td>
            <td>11:15 - 12:10</td>
            <td>Prezentacja funkcjonalności sprzętu (ETL)<br> - prelegent Jacek Rosikiewicz</td>
            <td></td>
          <tr>
          <tr class="success">
            <td></td>
            <td>12:10 - 12:15</td>
            <td>Przerwa techniczna</td>
            <td></td>
          <tr>
          <tr class="success">
            <td></td>
            <td>12:15 - 13:00</td>
            <td>Prezentacja funkcjonalności sprzętu (PR100)<br> - prelegent Jacek Maciak</td>
            <td></td>
          <tr>
          <tr class="success">
            <td></td>
            <td>13:00 - 14:00</td>
            <td>Obiad</td>
            <td></td>
          <tr>
          <tr class="success">
            <td></td>
            <td>14:00 - 14:45</td>
            <td>Prezentacja dot. zakłóceń<br> - prelegent Jacek Maciak</td>
            <td></td>
          <tr>
          <tr class="success">
            <td></td>
            <td>14:45 - 15:30</td>
            <td>Zakłócenia - Studium przypadków<br> - moderator Marcin Woźniak</td>
            <td></td>
          <tr>
          <tr class="success">
            <td></td>
            <td>16:00 - 20:00</td>
            <td>Wycieczka zapoznaczawcza w zakesie ukształtowana terenu</td>
            <td></td>
          <tr>
          <tr class="success">
            <td></td>
            <td>20:00</td>
            <td>Kolacja</td>
            <td></td>
          <tr>

          <tr class="info">
            <td>Środa<br>2019-05-22</td>
            <td>7:30 - 8:30</td>
            <td>Śniadanie</td>
            <td></td>
          <tr>
          <tr class="info">
            <td></td>
            <td>8:30 - 9:00</td>
            <td>Odprawa przed zadaniami</td>
            <td></td>
          <tr>
          <tr class="info">
            <td></td>
            <td>9:00 - 13:00</td>
            <td>Ćwiczenie terenowe Nr 1 - Identyfikacja i lokalizacja źródła zakłóceń znajdującego się poza obszarem Polski i przygotowanie raportu zakłóceniowego</td>
            <td>Zgodnie ze scenariuszem</td>
          <tr>
          <tr class="info">
            <td></td>
            <td>13:00 - 14:00</td>
            <td>Obiad "poligonowy"</td>
            <td></td>
          <tr>
          <tr class="info">
            <td></td>
            <td>14:00 - 17:30</td>
            <td>Ćwiczenie terenowe Nr 2 - Weryfikacja warunków określonych w porozumieniu POL-BY</td>
            <td>Zgodnie ze scenariuszem</td>
          <tr>
          <tr class="info">
            <td></td>
            <td>19:00</td>
            <td>Kolacja</td>
            <td></td>
          <tr>



          <tr class="active">
            <td>Czwartek<br>2019-05-23</td>
            <td>7:30 - 8:30</td>
            <td>Śniadanie</td>
            <td></td>
          <tr>
          <tr class="active">
            <td></td>
            <td>8:30 - 9:00</td>
            <td>Odprawa przed zadaniami</td>
            <td></td>
          <tr>
          <tr class="active">
            <td></td>
            <td>9:00 - 13:00</td>
            <td>Ćwiczenie poligonowe Nr. 3 - Utrwalnie umiejętności pomiarowych zgodnie z zasadami  opisanymi w instrukcjach pomiarowych</td>
            <td>Zgodnie ze scenariuszem</td>
          <tr>
          <tr class="active">
            <td></td>
            <td>13:00 - 14:00</td>
            <td>Obiad "poligonowy"</td>
            <td></td>
          <tr>
          <tr class="active">
            <td></td>
            <td>14:00 - 17:30</td>
            <td>Ćwiczenie poligonowe Nr 4 - diagnostyka RSP</td>
            <td>Zgodnie ze scenariuszem</td>
          <tr>
          <tr class="active">
            <td></td>
            <td>19:00</td>
            <td>Kolacja</td>
            <td></td>
          <tr>


          <tr>
            <td>Piątek<br>2019-05-24</td>
            <td>7:30 - 8:30</td>
            <td>Śniadanie</td>
            <td></td>
          <tr>
          <tr>
            <td></td>
            <td>9:00</td>
            <td>Wyjazd</td>
            <td></td>
          <tr>

        </tbody>

      </table>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <br>

  <div class="row">
    <div class="col-sm-12">
      <h3 class="center">
        <span class="index-title"><%= t '.remember' %></span>
      </h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <br>

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered compact" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class='col-xs-2 col-sm-1'>Lp.</th>
            <th class='col-xs-7 col-sm-8'>Przedmiot do zabrania / Czynność do przygotowania</th>
            <th class='col-xs-3 col-sm-3'>Uwagi</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.</td>
            <td>Magnetyczne oznakowanie RSP (2x większy format)</td>
            <td>Aktualne logo (2x większy format)</td>
          <tr>
          <tr>
            <td>2.</td>
            <td>Wyznaczenie wysunięcia masztu na wys. 10m zawieszenia anteny pomiarowej</td>
            <td></td>
          <tr>
          <tr>
            <td>3.</td>
            <td>Wyznaczenie wysunięcia masztu na wys. 4m zawieszenia anteny pomiarowej</td>
            <td></td>
          <tr>
          <tr>
            <td>4.</td>
            <td>Analizator widma FSP30 lub ewentualnie inny przenośny</td>
            <td></td>
          <tr>
          <tr>
            <td>5.</td>
            <td>Dalmierz lub inne urządzenie pomiarowe do pomiaru wysokości zawieszenia anteny</td>
            <td>Użytkowany w danej Delegaturze</td>
          <tr>
          <tr>
            <td>6.</td>
            <td>Odbiornik GPS do weryfikacji współrzędnych geograficznych lokalizacji stacji nadawczych</td>
            <td>Użytkowany w danej Delegaturze</td>
          <tr>
          <tr>
            <td>7.</td>
            <td>Laptop z USB, Office oraz WIFI do przygotowania wyników</td>
            <td></td>
          <tr>
          <tr>
            <td>8.</td>
            <td>Podkłady mapowe do przygotowania zobrazowania namiarów (Google, Oprogramowanie Belka, Kasmon, itp.)</td>
            <td></td>
          <tr>
          <tr>
            <td>9.</td>
            <td>Skrypt UKE - Instrukcje pomiarowe</td>
            <td>Jeden Zespół</td>
          <tr>
          <tr>
            <td>10.</td>
            <td>Telefon komórkowy z możliwością przekazania jego numeru koordynatorom</td>
            <td>Jeden Zespół</td>
          <tr>
          <tr>
            <td>11.</td>
            <td>Ewentualny zapas wody mineralnej (Organizator nie zapewnia na czas ćwiczeń terenowych i poligonowych)</td>
            <td></td>
          <tr>
          <tr>
            <td>12.</td>
            <td>Ewentualny środki na komary z uwagi na uwarunkowania terenowe</td>
            <td></td>
          <tr>
          <tr>
            <td>13.</td>
            <td>Pozytywne nastawienie :)</td>
            <td></td>
          <tr>

        </tbody>

      </table>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <br>

  <div class="row">
    <div class="col-sm-12">
      <h3 class="center">
        <span class="index-title"><%= t '.place' %></span>
      </h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <br>

  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-2">
          <%= image_tag('marker.png', size: "48x48") %>
        </div> <!--/col-sm-3 -->
        <div class="col-sm-10">
          <p>Miejsce szkolenia:</p>
          <p>Hotel KNIEJA - Centrum Konferencyjne</p>
          <%= link_to "Nawigacja", "https://www.google.pl/maps/place/Knieja.+Centrum+konferencyjno+-+bankietowe/@53.2022521,23.3342796,17z/data=!3m1!4b1!4m5!3m4!1s0x46e00046d2a0bfbb:0xba42c12ba48295b2!8m2!3d53.2022521!4d23.3364683?hl=pl", :target => "_blank" %>
          <br>
          <br>
        </div> <!--/col-sm-9 -->
      </div> <!--/row -->
    </div> <!--/col-sm-12 -->

    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-2">
          <%= image_tag('marker2.png', size: "48x48") %>
        </div> <!--/col-sm-3 -->
        <div class="col-sm-10">
          <p>Miejsce zbiórki (zadania 1 i 2):</p>
          <p>Zajazd SOKOŁDA</p>
          <%= link_to "Nawigacja", "https://www.google.pl/maps/place/53%C2%B014'52.7%22N+23%C2%B028'09.0%22E/@53.247973,23.466958,17z/data=!3m1!4b1!4m13!1m6!3m5!1s0x46dffddc6189b29f:0x5d2d0b1c8862adbd!2sZajazd+Soko%C5%82da!8m2!3d53.24796!4d23.469157!3m5!1s0x0:0x0!7e2!8m2!3d53.2479728!4d23.4691516?hl=pl", :target => "_blank" %>
          <br>
          <br>
        </div> <!--/col-sm-9 -->
      </div> <!--/row -->
    </div> <!--/col-sm-12 -->

    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-2">
          <%= image_tag('marker3.png', size: "48x48") %>
        </div> <!--/col-sm-3 -->
        <div class="col-sm-10">
          <p>Poligon pomiarowy (zadania 3 i 4):</p>
          <p>Folwark NADAWKI</p>
          <%= link_to "Nawigacja", "https://www.google.pl/maps/place/Folwark+Nadawki/@53.1822042,23.150403,17z/data=!3m1!4b1!4m5!3m4!1s0x471ffda433e20ad3:0x72dac635d76923eb!8m2!3d53.182201!4d23.152597?hl=pl", :target => "_blank" %>
          <br>
          <br>
        </div> <!--/col-sm-9 -->
      </div> <!--/row -->
    </div> <!--/col-sm-12 -->

  </div> <!--/row -->

  <br>
  <div id="idMap" style="width: 100%; height: 75vh;"></div>
  <br>

</div> <!--/container -->

 
<script src="https://www.openlayers.org/api/OpenLayers.js"></script>

<script>
  //var lat            = <%#= partial_data.lat %>;
  //var lon            = <%#= partial_data.lng %>;
  var lat            = 53.202200;
  var lon            = 23.336400;

  var lat2           = 53.247973;
  var lon2           = 23.469152;

  var lat3           = 53.182220;
  var lon3           = 23.152613;


  var zoom           = 10;
  var size = new OpenLayers.Size(36,36);
  var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
  var icon = new OpenLayers.Icon("<%= asset_path('marker.png', locale: locale) %>", size, offset);
  var icon2 = new OpenLayers.Icon("<%= asset_path('marker2.png', locale: locale) %>", size, offset);
  var icon3 = new OpenLayers.Icon("<%= asset_path('marker3.png', locale: locale) %>", size, offset);


  var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
  var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
  var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);
  var position2      = new OpenLayers.LonLat(lon2, lat2).transform( fromProjection, toProjection);
  var position3      = new OpenLayers.LonLat(lon3, lat3).transform( fromProjection, toProjection);


  map = new OpenLayers.Map("idMap");

  var mapnik         = new OpenLayers.Layer.OSM();
  map.addLayer(mapnik);

  var markers = new OpenLayers.Layer.Markers( "Markers" );

  map.addLayer(markers);
  markers.addMarker(new OpenLayers.Marker(position, icon));
  markers.addMarker(new OpenLayers.Marker(position2, icon2));
  markers.addMarker(new OpenLayers.Marker(position3, icon3));

  map.setCenter(position, zoom);
</script>

