<div class="container">
  <br>
  <div class="row">
    <div class="col-xs-6">
      <%= link_to static_pages_job_2_path, class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-chevron-left"></span>
        <%= t("static_pages.job_2.title") %>
      <% end %>
    </div> <!--/col-sm-6-->    

    <div class="col-xs-6">
      <%= link_to static_pages_job_4_path, class: "btn btn-default pull-right" do %>
        <%= t("static_pages.job_4.title") %>
        <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>
    </div> <!--/col-sm-6-->    
  </div> <!-- /row -->
    
  <div class="row">
    <div class="col-sm-12">
      <h1 class="center">
        <span class="index-title"><%= t '.title' %></span>
      </h1>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-justify">
        Sprawdzenie umiejętności wykonywania pomiaru wysokości oraz weryfikacji współrzędnych geograficznych obiektów 
      </h3> 
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered" cellspacing="0" width="100%">
        <tbody>
          <tr>
            <td><div class="col-xs-4">Data:<br><strong>22.05.2019r.</strong></div>
                <div class="col-xs-4">Czas trwania:<br><strong>Dowolny (15min)</strong></div>
                <div class="col-xs-4">Koordynator:<br><strong>M.Woźniak</strong></div></td>
          </tr>
          <tr class="active">
            <td><strong>I. Cel zadania</strong></td>
          </tr>
          <tr>
            <td>Weryfikacja umiejętności pracowników obsługujących Ruchome Stacje Pomiarowe w zakresie wykonywania pomiarów wysokości zawieszenia anten nadawczych nad poziomem terenu oraz określania współrzędnych geograficznych lokalizacji obiektów.</td>
          </tr>
          <tr class="active">
            <td><strong>II. Miejsce zadania</strong></td>
          </tr>
          <tr>
            <td>
              <div class="row">
                <div class="col-sm-2">
                  <%= image_tag('marker.png', size: "48x48") %>
                </div> <!--/col-sm-2 -->
                <div class="col-sm-10">
                  <p>Stacja bazowa telefonii komórkowej zlokalizowana w okolicy miejscowości Krynki.</p>
                  <%= link_to "Nawigacja", "https://www.google.pl/maps/place/53%C2%B016'28.2%22N+23%C2%B046'00.1%22E/@53.2745,23.7645057,17z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d53.2745069!4d23.7666949?hl=pl", :target => "_blank" %>
                  <br>
                  <br>
                </div> <!--/col-sm-10 -->
              </div> <!--/row -->
              <div id="idMap" style="width: 100%; height: 75vh;"></div></td>
          </tr>
          <tr class="active">
            <td><strong>III. Niezbędne wyposażenie</strong></td>
          </tr>
          <tr>
            <td>1. Wysokościomierz lub inne urządzenie do pomiaru wysokości</td>
          </tr>
          <tr>
            <td>2. Odbiornik GPS lub inne urządzenie do określenia współrzędnych geograficznych</td>
          </tr>
          <tr>
            <td>3. Laptop lub inny komputer do wypełnienia formularza wyników</td>
          </tr>
          <tr>
            <td>4. Przygotowany wzór formularza raportu na pendrivie - zapewnia Organizator</td>
          </tr>
          <tr>
            <td>5. Telefon komórkowy do łączności</td>
          </tr>
          <tr class="active">
            <td><strong>IV. Przebieg zadania</strong></td>
          </tr>
          <tr>
            <td><div class="col-xs-2">Dowolnie wybrany czas pomiaru między g. 9.00 a 17.30</div>
                <div class="col-xs-10">
                  1. Dojazd stacji RSP do obiektu mierzonego - stacji BTS telefonii komórkowej.<br>

                  2. Pomiar wysokości środka elektrycznego anten GSM oraz UMTS nad poziomem terenu.<br>

                  3. Weryfikacja współrzędnych geograficznych lokalizacji stacji bazowej telefonii komórkowej.<br>

                  4. Uzupełnienie danych w formularzu na pendrive.
                </div></td>
          </tr>
        </tbody>

      </table>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <div class="row">
    <div class="col-xs-6">
      <%= link_to static_pages_job_2_path, class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-chevron-left"></span>
        <%= t("static_pages.job_2.title") %>
      <% end %>
    </div> <!--/col-sm-6-->    

    <div class="col-xs-6">
      <%= link_to static_pages_job_4_path, class: "btn btn-default pull-right" do %>
        <%= t("static_pages.job_4.title") %>
        <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>
    </div> <!--/col-sm-6-->    
  </div> <!-- /row -->

</div> <!--/container -->

 
 
<script src="https://www.openlayers.org/api/OpenLayers.js"></script>

<script>
  //var lat            = <%#= partial_data.lat %>;
  //var lon            = <%#= partial_data.lng %>;
  var lat           = 53.274500;
  var lon           = 23.766694;

  var zoom          = 15;
  var size = new OpenLayers.Size(36,36);
  var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
  var icon = new OpenLayers.Icon("<%= asset_path('marker.png', locale: locale) %>", size, offset);


  var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
  var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
  var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);


  map = new OpenLayers.Map("idMap");

  var mapnik         = new OpenLayers.Layer.OSM();
  map.addLayer(mapnik);

  var markers = new OpenLayers.Layer.Markers( "Markers" );

  map.addLayer(markers);
  markers.addMarker(new OpenLayers.Marker(position, icon));

  map.setCenter(position, zoom);
</script>

