<div class="container deviseform">
  <div class="col-sm-6 col-sm-offset-3">
 
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('devise.unlocks.form.new.title') %></h3> <!-- Resend confirmation instructions -->
      </div>
      <div class="panel-body">

        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>

          <p><%= t('devise.unlocks.form.new.header_text') %></p>
          <%#= devise_error_messages! %>

          <%#= f.error_notification %>
          <%#= f.full_error :confirmation_token %>

          <% if resource.errors.any? %>
            <div id="error_explanation" class="panel panel-danger">
              <div class="panel-body">
                <ul>
                <% resource.errors.full_messages.each do |msg| %>
                  <li><h5><%= msg %></h5></li>
                <% end %>
                </ul>
              </div>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :email, class: 'control-label' %>
            <%= f.text_field :email, :autofocus => true, class: 'form-control' %>
          </div>

          <%= f.submit t('devise.unlocks.form.new.button_submit'), :class => 'btn btn-primary pull-right' %> <!-- Button: "'Resend confirmation instructions'" -->
      </div>
      <div class="panel-footer">
        <%= render "devise/shared/links" %>  
      </div>
      <% end %><!-- /form_for -->
    </div><!-- /panel panel-primary -->
  </div><!-- /col-sm-12 -->
</div><!-- /container -->
