<div class="col-sm-12">
  <table id="user-roles-datatable" class="hover cell-border compact" width="100%" 
    data-source="<%= datatables_index_user_roles_path(user_id: @user.id, format: :json) %>",
    data-locale_url="<%= datatables_lang_path(format: :json) %>", 
    data-export_csv_url="<%= export_users_path(format: :csv) %>">
    <thead>
      <tr>
        <th>ID</th>
        <th class="col-sm-3"><%= Role.human_attribute_name(:name) %></th>
        <th class="col-sm-7"><%= Role.human_attribute_name(:activities) %></th>
        <th class="col-sm-1" >Uprawnienie</th>
        <th class="col-sm-1" >Akcje</th>
      </tr>
    </thead>
    <tbody>
       <!--data from JSON -->
    </tbody>
  </table>
</div> <!--/col-sm-12 -->
