<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="center">
        <span class="fa fa-user glyp-index-title" aria-hidden="true"></span>
        <span class="index-title hidden-xs"><%= t '.title' %></span>
<!-- 
        <span class="index-title visible-xs"><%= t '.navbar' %></span>
-->
        <span class="index-title visible-xs"><%= t '.title' %></span>
      </h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->
</div> <!--/container -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <table id="users-datatable" class="hover cell-border" cellspacing="0" width="100%", 
        data-source="<%= users_path(format: :json) %>", 
        data-locale_url="<%= datatables_lang_path(format: :json) %>", 
        data-export_csv_url="<%= export_users_path(format: :csv) %>">
        <thead>
          <tr>
            <th>id</th>
            <th class='col-sm-2'><%= User.human_attribute_name(:name) %></th>
            <th class='col-sm-2'><%= User.human_attribute_name(:department) %></th>
            <th class='col-sm-1'><%= User.human_attribute_name(:current_sign_in_ip) %></th>
            <th class='col-sm-1'><%= User.human_attribute_name(:current_sign_in_at) %></th>
            <th class='col-sm-1'><%= User.human_attribute_name(:last_activity_at) %></th>
            <th class='col-sm-1'><%= User.human_attribute_name(:password_changed_at) %></th>
            <th class='col-sm-1'><%= User.human_attribute_name(:deleted_at) %></th>
            <th class='col-sm-1'><%= User.human_attribute_name(:surveys_any) %></th>
          </tr>
        </thead>

        <tbody>
           <!--data from JSON -->
        </tbody>
      </table>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

</div> <!--/container -->

