<div class="panel-group" id="myaccordion">

  <!-- Dane -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-user">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_data" >
          <div class="panel-heading">
            <div class="panel-title">
              <span class="glyphicon glyphicon-user">&nbsp;</span>
              <span><%=t ".title"%>:&nbsp;<%= @user.fullname %></span>
              <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
            </div> 
          </div>
        </a>
        <div id="collapse_data" class="panel-collapse collapse in">
          <div class="panel-body">         

            <%= render 'data', input_disabled: true %>

          </div> <!-- /panel-body -->
        </div> <!-- /id="collapse_data" -->
      </div> <!-- /panel -->
    </div> <!-- /col-sm-12-->
  </div> <!-- /row -->

  <% if policy(:user).work? %>
    <%= render partial: "works/works_in_panel", locals: {trackable_type: 'User', trackable_id: @user.id} %>
  <% end %>

  <!-- Roles-->
  <% if policy(:role).index? %>
    <div class="row">
      <div class="col-sm-11 col-sm-offset-1">
        <div class="panel panel-role">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_user_roles" >
            <div class="panel-heading">
              <div class="panel-title">
                <span class="glyphicon glyphicon-sunglasses">&nbsp;</span>
                <span><%= t ".roles" %></span>
                <i class="indicator glyphicon glyphicon-chevron-right pull-right"></i>
              </div>
            </div>
          </a>
          <div id="collapse_user_roles" class="panel-collapse collapse">
            <div class="panel-body">

              <%= render 'roles' %>

            </div> <!-- /panel-body -->
          </div> <!-- /id="collapse_user_roles" -->
        </div> <!-- /panel -->
      </div> <!-- /col-sm-11 col-sm-offset-1 -->
    </div> <!-- /row -->
  <% end %>

</div> <!-- /class="panel-group" id="myaccordion" -->
