<br>
<br>
<div class="col-sm-12">
  <div class="row">
    <%= chart_departments_by_question_pie(1) %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->
<div class="col-sm-12">
  <div class="row">
    <%= chart_departments_by_question_column(1) %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->
<div class="col-sm-12">
  <hr>
</div> <!--/col-sm-12-->


<div class="col-sm-12">
  <div class="row">
    <%= chart_departments_by_question_pie(2) %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->
<div class="col-sm-12">
  <div class="row">
    <%= chart_departments_by_question_column(2) %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->
<div class="col-sm-12">
  <hr>
</div> <!--/col-sm-12-->


<div class="col-sm-12">
  <div class="row">
    <%= chart_departments_by_question_pie(3) %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->
<div class="col-sm-12">
  <div class="row">
    <%= chart_departments_by_question_column(3) %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->
<div class="col-sm-12">
  <hr>
</div> <!--/col-sm-12-->


<div class="col-sm-12">
  <div class="row">
    <%= chart_departments_by_question_pie(4) %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->
<div class="col-sm-12">
  <div class="row">
    <%= chart_departments_by_question_column(4) %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->
<div class="col-sm-12">
  <hr>
</div> <!--/col-sm-12-->

<div class="col-sm-12">
  <div class="row">
    <%= chart_departments_by_question_pie(5) %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->
<div class="col-sm-12">
  <div class="row">
    <%= chart_departments_by_question_column(5) %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->
<div class="col-sm-12">
  <hr>
</div> <!--/col-sm-12-->

<div class="col-sm-12">
  <div class="row">
    <%= chart_departments_sum_pie %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->
<div class="col-sm-12">
  <div class="row">
    <%= chart_departments_sum_column %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->
