<div class="col-sm-11">
  <%= form_with(model: survey, local: true) do |f| %>

    <% input_disabled ||= false  
       #if input_disabled is not passed to the partial it doesn't crash. 
       # We default it to false 
    %>

    <%= form_errors_for survey %>

    <%= render 'form_question_1', f: f, survey: survey, input_disabled: input_disabled %>
    <%= render 'form_question_2', f: f, survey: survey, input_disabled: input_disabled %>
    <%= render 'form_question_3', f: f, survey: survey, input_disabled: input_disabled %>
    <%= render 'form_question_4', f: f, survey: survey, input_disabled: input_disabled %>
    <%= render 'form_note',       f: f, survey: survey, input_disabled: input_disabled %>


    <hr class="hr-without-top-margin">

    <% if input_disabled %>
      <!-- for "Show" -->
    <% else %>
      <!-- form "New"/"Edit" -->
      <div class="row">

        <%= link_to :back, class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-arrow-left"></span>
          <%= t("helpers.links.back") %>
        <% end %>

        <%= f.submit nil, :class => 'btn btn-primary' %>
      </div> <!-- /row -->
    <% end %>
    
  <% end %>

</div> <!--/col-sm-11-->

