<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="center">
        <span class="fa fa-list-ol glyp-index-title" aria-hidden="true"></span>
        <span class="index-title hidden-xs"><%= t '.title' %></span>
<!-- 
        <span class="index-title visible-xs"><%= t '.navbar' %></span>
-->
        <span class="index-title visible-xs"><%= t '.title' %></span>
      </h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->
</div> <!--/container -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <table id="surveys-datatable" class="hover cell-border" cellspacing="0" width="100%", 
        data-source="<%= surveys_path(format: :json) %>", 
        data-locale_url="<%= datatables_lang_path(format: :json) %>", 
        data-export_csv_url="<%= export_surveys_path(format: :csv) %>">
        <thead>
          <tr>
            <th>id</th>
            <th><%= Survey.human_attribute_name(:user) %></th>
            <th><%= Survey.human_attribute_name(:created_at) %></th>
            <th><%= Survey.human_attribute_name(:updated_at) %></th>
          </tr>
        </thead>

        <tbody>
           <!--data from JSON -->
        </tbody>
      </table>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <div class="row">
    <div class="col-sm-12">

      <% enabled_disabled = (Survey.all.count < Role.find(5).users.count) ? "disabled" : "" %> 
      <%= link_to send_score_surveys_path, class: "btn btn-warning btn-lg #{enabled_disabled}" do %>
        <span class="fa fa-envelope"></span>&nbsp;<%= t("helpers.links.send_email") %>
      <% end %>

    </div>
  </div>

  <%= render partial: "data_charts" %>

</div> <!--/container -->

