<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="center">
        <span class="fa fa-list-ol glyp-index-title" aria-hidden="true"></span>
        <span class="index-title"><%= t '.title' %></span>
      </h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <%= render partial: "data_question_1", locals: {partial_data: @survey} %>
  <%= render partial: "data_question_2", locals: {partial_data: @survey} %>
  <%= render partial: "data_question_3", locals: {partial_data: @survey} %>
  <%= render partial: "data_question_4", locals: {partial_data: @survey} %>
  <%= render partial: "data_note",       locals: {partial_data: @survey} %>

  <div class="row">
    <div class="col-sm-12">

      <%= link_to root_path, class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        <%= t("helpers.links.back") %>
      <% end %>

      <% if policy(@survey).edit_self? %>
        <% enabled_disabled = (Survey.all.count >= Role.find(5).users.count) ? "disabled" : "" %>
        <%= link_to edit_survey_path(@survey), class: "btn btn-primary #{enabled_disabled}" do %>
          <span class="glyphicon glyphicon-edit"></span>
          <%= t("helpers.links.edit") %>
        <% end %>
      <% end %>

    </div> <!--/col-sm-12 -->
  </div> <!-- /row -->

  <% if Survey.all.count >= Role.find(5).users.count %>
    <%= render partial: "data_charts" %>
  <% end %>

</div> <!--/container -->

