<div class="col-sm-12">
  <table id="role-users-datatable" class="hover cell-border compact" width="100%" 
    data-source="<%= datatables_index_role_users_path(role_id: @role.id, format: :json) %>",
    data-locale_url="<%= datatables_lang_path(format: :json) %>", 
    data-export_csv_url="<%= export_roles_path(format: :csv) %>">
    <thead>
      <tr>
        <th>ID</th>
        <th class="col-sm-4"><%= User.human_attribute_name(:name) %></th>
        <th class="col-sm-6"><%= User.human_attribute_name(:note) %></th>
        <th class="col-sm-1" >Uprawnienie</th>
        <th class="col-sm-1" >Akcje</th>
      </tr>
    </thead>
    <tbody>
       <!--data from JSON -->
    </tbody>
  </table>
</div> <!--/col-sm-12 -->
