<div class="row">
  <div class="gallery">
    <div class="row gallery-row">
      <% @expositions.each do |row| %>
        <div class='col-xs-6 col-sm-2'>
          <%= truncate(row.try(:name), length: 30) %>
          <br>
          <% if policy(row).destroy? %>
            <%= link_to exposition_path(row),
                                method: :delete,
                                data: { confirm: t('helpers.links.confirm_destroy', data: "#{row.fullname} (plik: #{row.photo.blob.filename})") }, 
                                class: "btn btn-danger btn-xs" do %>
              <span class="glyphicon glyphicon-trash"></span>
              <%= t("helpers.links.destroy") %>
            <% end %>
            <br>
          <% end %>
          <a href="<%= url_for(row.photo) %>" 
              data-gallery="multiimages" 
              data-type="<%= row.photo.content_type.to_s.split('/')[0] %>" 
              data-toggle="lightbox" 
              data-title="<%= row.fullname %>"
              data-footer="<%= row.photo.blob.filename %>" >
            <% if row.photo.previewable? %>
              <%= image_tag(row.photo.preview(resize: '100x100')) %>
            <% else %>
              <%= image_tag row.photo, style: 'height:100px;width:auto;', class: "img-responsive"  %> 
            <% end %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                  event.preventDefault();
                  $(this).ekkoLightbox({
                    gallery_parent_selector: '.gallery',
                    alwaysShowClose: true,
                    showArrows: true
                  });
              });  

</script>