<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="center">
        <span class="fa fa-camera glyp-index-title" aria-hidden="true"></span>
        <span class="index-title hidden-xs"><%= t '.title' %></span>
<!-- 
        <span class="index-title visible-xs"><%= t '.navbar' %></span>
-->
        <span class="index-title visible-xs"><%= t '.title' %></span>
      </h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->
</div> <!--/container -->

<br>

<div class="container">
  <div class="row">
    <% if policy(:exposition).new? %>
      <div class="col-sm-12">
        <%= link_to new_exposition_path, class: "btn btn-primary pull-right" do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t("helpers.links.new") %>
        <% end %>
      </div> <!--/col-sm-12 -->
      <div class="col-sm-12">
        <hr>
      </div> <!--/col-sm-12 -->
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= render 'gallery' %>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

</div> <!--/container -->

