<% if user_signed_in? %>

  <% if policy(:user).index? || policy(:role).index? || policy(:survey).index? || policy(:work).index? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-tools"></span>&nbsp;<%=t ".management" %> <span class="caret"></span></a>

      <ul class="dropdown-menu">

        <% if policy(:user).index? %>
          <li><%= link_to users_path do %>
            <span class="glyphicon glyphicon-user"></span>&nbsp;<%=t ".users" %>
            <% end %>
          </li>
        <% end %>

        <% if policy(:role).index? %>
          <li><%= link_to roles_path do %>
            <span class="glyphicon glyphicon-sunglasses"></span>&nbsp;<%=t ".roles" %>
            <% end %>
          </li>
        <% end %>

        <% if policy(:survey).index? %>
          <li><%= link_to surveys_path do %>
            <span class="fa fa-list-ol"></span>&nbsp;<%=t ".surveys" %>
            <% end %>
          </li>
        <% end %>

        <% if policy(:work).index? %>
          <li><%= link_to works_path do %>
            <span class="fa fa-history"></span>&nbsp;<%=t ".works" %>
            <% end %>
          </li>
        <% end %>

      </ul>
    </li>
  <% end %>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></span>&nbsp;<span><%= image_tag(current_user.photo, height: 36) %></span>&nbsp;&nbsp;<%= current_user.name %> <span class="caret"></span></a>

    <ul class="dropdown-menu">

      <li><%= link_to edit_user_registration_path do %>
        <span class="fa fa-cog"></span>&nbsp;<%=t "devise.link_to.edit_registration" %>
        <% end %>
      </li>
      <li><%= link_to destroy_user_session_path, :method=>'delete' do %>
        <span class="glyphicon glyphicon-log-out"></span>&nbsp;<%=t "devise.link_to.sign_out" %>
        <% end %>
      </li>

    </ul>
  </li>

<% else %>
  <%# if request_from_the_security_area? %>
    <li><%= link_to new_user_session_path do %>
      <span class="glyphicon glyphicon-log-in"></span>&nbsp;<%=t "devise.link_to.sign_in" %>
      <% end %>
    </li>
  <%# end %>
<% end %>

